<div style="display: flex;">
  <mat-card style="flex: 1 1 50%;">
      <mat-card-header >
        <h2>Lista de productos agregados al carrito</h2>   
   
      </mat-card-header>
      <mat-card-content>
  
      
  
  <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <ng-container matColumnDef="articuloDescripcion">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> Articulo</th>
        <td mat-cell *matCellDef="let element">{{element.articuloDescripcion}}</td>
      </ng-container>
  
      
   
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Acciones</th>
          <td mat-cell *matCellDef="let element">
  
              <button (click)="delete(element.id)" mat-raised-button color="warn">Eliminar</button>
          </td>
        </ng-container>
  
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
  
  </table>
  
  </mat-card-content>
  <br>
  <mat-card-footer>
  
      <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
  
  </mat-card-footer>
  </mat-card>
 
 
  <mat-card style="flex: 1 1 50%;">

    <mat-card-header>
      <h2>Agregar productos al carrito</h2>   
      <br>
    </mat-card-header>
    <mat-card-content>

    

<table matSort mat-table [dataSource]="articulosAComprarList" class="mat-elevation-z8">

  <ng-container matColumnDef="descripcion">
    <th mat-sort-header mat-header-cell *matHeaderCellDef> Descripción</th>
    <td mat-cell *matCellDef="let element">{{element.descripcion}}</td>
</ng-container>

<ng-container matColumnDef="precio">
  <th mat-sort-header mat-header-cell *matHeaderCellDef> Precio</th>
  <td mat-cell *matCellDef="let element">{{element.precio}}</td>
</ng-container>
    
 
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">

            <!-- <button (click)="add(element.id)" mat-raised-button color="primary">agregar</button> -->
            <button (click)="addCart(element.id)" mat-button class="btnAdd"><mat-icon >add_shopping_cart</mat-icon> Añadir</button>

        </td>
      </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumnsAgregar"></tr>
    <tr mat-row *matRowDef="let row;columns:displayedColumnsAgregar"></tr>

</table>

</mat-card-content>
<br>
<mat-card-footer>

    <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>

</mat-card-footer>
    
  </mat-card>
</div>